{% set user_message_reference = message.createdBy %}

{% if 'index' == page or 'navbar' == page %}
    {% for conversation_user in conversation.__users %}
        {% if conversation_user.user != userPrintedThisMessage %}
            {% set user_message_reference = conversation_user.user %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if 'navbar' != page and (previous_date is null or previous_date|date('Ymd') != message.createdAt|date('Ymd')) %}
    <h2 class="message-title" data-title-user-messenger-date="{{ message.createdAt|date('Ymd') }}">
        <time datetime="{{ message.createdAt|date('Y-m-d') }}T{{ message.createdAt|date('H:i:s') }}.000Z">
            {{ message.createdAt|format_datetime('full', 'none')|capitalize }}
        </time>
    </h2>
{% endif %}

{% if 'navbar' == page %}
    <a href="{{ path('user_message_member',
        {
            'slug': user_message_reference.slug,
        }
    ) }}" class="border-{{ user_message_reference.color.slug }} user-messenger-dropdown-item dropdown-item user-messenger-conversation-{{ conversation.uuid }}">
{% else %}
    <div class="comment{% if 'message' == page %} message-{% if user_message_reference == userPrintedThisMessage %}my{% else %}him{% endif %}{% endif %} user-messenger-conversation-{{ conversation.uuid }}">
{% endif %}
    <span class="info">
        {% if 'navbar' != page %}
            <span>
                <time datetime="{{ message.createdAt|date('Y-m-d') }}T{{ message.createdAt|date('H:i:s') }}.000Z">
                    {{ message.createdAt|format_time('none', 'H:mm') }}
                </time>
            </span>
        {% endif %}
        {% if 'navbar' != page %}
            <a href="{{ path('member_profile',
                {
                    'slug': user_message_reference.slug,
                }
            ) }}" data-toggle="tooltip" title="{{ 'label.show_profile'|trans({}, 'user') }}">
        {% endif %}
                {{ include('@User/user/_ico.html.twig',
                    {
                        'user': user_message_reference,
                        'size': 25,
                    },
                    with_context = false
                ) }}
        {% if 'navbar' != page %}
            </a>
        {% endif %}
    </span>
    <div class="content border-{{ user_message_reference.color.slug }}">
        {% if 'index' == page %}
            <a href="{{ path('user_message_member',
                {
                    'slug': user_message_reference.slug,
                }
            ) }}" class="link-message">
            {{ include('@User/button/_user.html.twig',
                {
                    'user': user_message_reference,
                    'remove_link': true,
                },
                with_context = false
            ) }}
            <br>
        {% endif %}
        {% if 'message' != page %}
            {% if message.createdBy != userPrintedThisMessage %}
                {% for conversation_user in conversation.__users %}
                    {% if conversation_user.user == userPrintedThisMessage %}
                        {% if conversation_user.readAt >= message.createdAt %}
                            <span class="badge badge-success badge-read">
                                {{ 'label.read'|trans({}, 'user_messenger') }}
                            </span>
                        {% else %}
                            <span class="badge badge-danger badge-read">
                                {{ 'label.unread'|trans({}, 'user_messenger') }}
                            </span>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for conversation_user in conversation.__users %}
                    {% if conversation_user.user != userPrintedThisMessage %}
                        {% if conversation_user.readAt >= message.createdAt %}
                            <span class="badge badge-secondary badge-read">
                                {{ 'label.read'|trans({}, 'user_messenger') }}
                            </span>
                        {% else %}
                            <span class="badge badge-secondary badge-read">
                                {{ 'label.unread'|trans({}, 'user_messenger') }}
                            </span>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if 'navbar' != page %}
            {{ message.message|nl2br }}
        {% else %}
            {{  message.message|length > 50 ?  message.message|slice(0, 50) ~ '…' : message.message }}
        {% endif %}
        {% if message.userMedias is not empty %}
            <div class="row gallery">
                {% for user_media in message.userMedias %}
                    {{ include('@UserMedia/media/item/_item.html.twig',
                        {
                            'user_media': user_media,
                        },
                        with_context = false
                    ) }}
                {% endfor %}
            </div>
        {% endif %}
        {% if 'index' == page %}
            </a>
        {% endif %}
    </div>
    {% if 'index' == page %}
        <div class="message-control-index">
            {{ 'action.user.message.delete'|trans({}, 'user_messenger')|button_link(
                path('user_message_delete',
                    {
                        'uuid': conversation.uuid,
                    }
                ),
                '_delete_',
                null,
                true,
                {
                    'class': 'btn-sm',
                }
            ) }}
        </div>
    {% endif %}
{% if 'navbar' == page %}
    </a>
{% else %}
    </div>
{% endif %}