{% extends 'default/template/template.html.twig' %}

{% block title %}
    <i class="{{ include('@UserMessenger/include/_ico.html.twig', with_context = false) }}"></i>
    {{ 'title.user.message'|trans({}, 'user_messenger') }}
{% endblock %}

{% block content %}
    <div id="index-user-messenger" data-empty-message="{{ ('user.message.not_found')|trans({}, 'user_messenger') }}">
        {% if conversations is not empty %}
            <div class="comments">
                {% for conversation in conversations %}
                    {{ include('@UserMessenger/include/_message.html.twig',
                        {
                            'page': 'index',
                            'conversation': conversation,
                            'message': conversation.__lastMessage,
                            'previous_date': previous_date ?? null,
                            'userPrintedThisMessage': app.user,
                        },
                        with_context = false
                    ) }}
                    {% set previous_date = conversation.__lastMessage.createdAt %}
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-danger mb-0">
                <p class="mb-0">
                    {{ ('user.message.not_found')|trans({}, 'user_messenger') }}
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}