{% extends 'default/template/template.html.twig' %}

{% block title %}
    {% if 'user_message_member' == app.request.get('_route') %}
        {{ include('@User/user/_ico.html.twig',
            {
                'user': member,
                'size': 25,
            },
            with_context = false
        ) }}
        {{ 'title.user.message_with'|trans(
            {
                '%username%': include('@User/button/_user.html.twig',
                    {
                        'user': member,
                    },
                    with_context = false
                )
            },
            'user_messenger'
        )|raw }}
    {% elseif 'user_message_group' == app.request.get('_route') %}
        {# note pour plus tard : titre message groupé #}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="message-user-messenger">
        <div class="comments" id="user-messenger-conversation-{% if conversation.uuid is defined %}{{ conversation.uuid }}{% else %}{{ app.user.slug }}-{{ member.slug }}{% endif %}" data-read-link="{{ path('user_message_read',
            {
                'uuid': conversation.uuid is defined ? conversation.uuid : app.user.slug ~ '-' ~ member.slug,
            }
        ) }}">
            {{ include('@UserMessenger/_message_form.html.twig',
                {
                    'form': form,
                },
                with_context = false
            ) }}
            {% if conversation is not empty %}
                {{ include('@UserMessenger/_delete_link.html.twig',
                    {
                        'conversation': conversation,
                    },
                    with_context = false
                ) }}
            {% endif %}
            {% for message in messages %}
                {{ include('@UserMessenger/_message.html.twig',
                    {
                        'page': 'message',
                        'conversation': conversation,
                        'message': message,
                        'previous_date': previous_date ?? null,
                        'userPrintedThisMessage': app.user,
                    },
                    with_context = false
                ) }}
                {% set previous_date = message.createdAt %}
            {% endfor %}
        </div>
    </div>
{% endblock %}